# .gitignore

# Virtual environment
venv/

# Compiled Python files
*.pyc
__pycache__/

# IDE-specific files
.vscode/
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env


# Data
data/

# HTML file
*.html